#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dictionary_container {
  border: 2px solid white;
  background: rgb(159, 200, 220);
  width: 800px;
  height: 500px;
  padding: 10px;
}

.search_container {
 margin: 10px;
 align-items: center;
 justify-content: center;
}

.search-bar {
  background: white;
  border-radius: 6px;
  margin-right:4px;
  width: 300px;
  height: 30px;
  color: black;
  font-size: 1.3rem;
}

.search-button {
  background: rgb(195, 113, 222);
  border-radius: 16px;
  color: white;
  font-size: 1.1rem;
  height: 35px;
}

.search-button:hover {
  background: rgb(218, 157, 238);
}